body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    outline: #66c2ff;
}

header {
    background-color: #333;
    padding: 15px;
    outline: #04AA6D;
}

.topnav {
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
	padding: 0;
    text-align: center;
    background-color: #333;
    outline: red;
}

.topnav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}ß

.topnav a:hover {
    color: #66c2ff;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

#content {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}
