*{
    background-color: bisque;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 15px;
}

.topnav {
    width: 100%;
    margin: 0 0 1em 0;
	padding: 0;
    text-align: center;
    list-style: none;
    
}

.topnav li{
    display: inline-block;
    margin: 15px;
}

.topnav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.topnav a:hover {
    color: #252b91;
}

.topnav a.active {
    color: #8b4601;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

#content {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
}
